.del_video_play_box{
  overflow: hidden;
  height: 735px;
}
.del_videoIndex_title {
  width: 95%;
  text-align: center;
  margin: 40px auto;
  margin-bottom: 20px;
  color: #fff;
}
.del_videoIndex_title h1 {
  font-size: 1.8rem;
  font-weight: 100;
  line-height: 3.5vw;
  color: rgb(255, 255, 255);
}
.del_videoIndex_title p {
  font-size: 12px;
  text-indent: 10vw;
  line-height: 20px;
}
.del_videoIndex_btn_left, .del_videoIndex_btn_right {
  position: absolute;
  top: 50%;
  margin-top: -25px;
  font-size: 98px;
  color: #fff;
  cursor: pointer;
}
.del_videoIndex_box {
  position: relative;
  width: 85%;
  margin: auto;
  border-radius: 8px;
  overflow: hidden;
  height: 520px;
  margin-top: 60px;
}
.del_videoIndex_box .vjs-poster{
  background-position: 0 0;
  background-size: cover;
}