.login_box_header_{
    height: 30px;
    position: absolute;
    right: 0;
    padding-top: 15px;
    padding-right: 15px;
    width: 60px;
    overflow: hidden;
    color: #ffffff;
    line-height: 16px;
    text-align: center;
    font-size: 9px;
}
.sing_login{
  height: 800px;
  -webkit-app-region: drag;
}
.login_box_box_{
  width: 350px;
  height: 500px;
  background: hsla(0,0%,100%,.7);
  border-radius: 5px;
  position: absolute;
  margin-top: -250px;
  top: 50%;
  margin-left: -175px;
  left: 50%;
  -webkit-app-region: no-drag;
}
.login_box_avatar{
  width: 180px;
  margin: auto;
  padding-top: 50px;
  margin-bottom: 20px;
}
.login_box_avatar img{
  width: 120px;
  height: 120px;
  display: block;
  margin: auto;
  border-radius: 100%;
}
.login_box_avatar p{
  line-height: 50px;
  width: 100%;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  font-family: SimSun;
  margin-top: 10px;
}
.login_box_input{
  width: 78%;
  height: 37px;
  margin: auto;
  border-radius: 7px;
  background: #7f9aad;
  margin-bottom: 15px;
}
.login_box_input i{
  color: #fff;
  height: 24px;
  display: block;
  float: left;
  width: 30px;
  margin-top: 6px;
  font-style: normal;
  vertical-align: baseline;
  text-align: center;
  text-transform: none;
  line-height: 1;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-size: 23px;
}
.login_box_input input{
  border-radius: 0;
  width: 240px;
  background: #7f9aad;
  border: 0;
  border-left: 1px solid #fff;
  margin-top: 7px;
  outline: none!important;
  padding-left: 8px;
  font-size: 14px;
  height: 23px;
  color: #fff;
  display: block;
  float: left;
}
.login_box_input input::-webkit-input-placeholder {
  color: #ffffff;
}
.login_box_btn{
  background: #112232;
  line-height: 37px;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  width: 78%;
  height: 37px;
  margin: auto;
  border-radius: 7px;
  margin-bottom: 15px;
}
.login_box_btn_text{
  text-align: center;
  bottom: 10px;
  width: 100%;
  line-height: 18px;
  color: #999;
  position: absolute;
  font-size: 12px;
}