.music_index{
  margin: 18px;
  height: 705px;
  .ivu-spin{
    background-color: rgba(0,0,0,.3)
  }
}
.music_index_header{

}

/**
 播放器
 */
.music_index_header_left{
  padding: 0 !important;
}
.music_index_header_left_music{
  border-radius: 5px;
  background-color: hsla(0,0%,100%,.9);
  margin-right: 8px;
  height: 166px;
}
.music_index_header_left_music_left{
  padding: 23px 12px 10px 20px;
}
.music_index_header_left_music_right{
  cursor: pointer;
}
.music_index_header_left_music_right img{
   width: 132px;
   height: 132px;
   border-radius: 50%;
   display: block;
  margin-top: 17px;
  margin-left: 8px;
}
.music_index_header_left_music_left_title{
  font-size: 21px;
  font-weight: 400;
  color: #030303;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}
.music_index_header_left_music_left_auth{
  font-size: 15px;
  font-weight: 400;
  line-height: 1.2;
  margin-top: 7px;
  color: #4a4a4a;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}
.music-left_progress{
  margin: 15.5px 0 0;
  background-size: 371px;
}
.music-progress_top {
  bottom: 10px;
  height: 18px;
  line-height: 13px;
  font-size: 11px;
  font-weight: 400;
  color: #9b9b9b;
  width: 100%;
}
.music-progress_time {
  color: #9b9b9b;
  font-weight: 400;
  margin-right: 10px;
  display: block;
  width: 40px;
  line-height: 18px;
  float: left;
  font-size: 14px;
}
.music-volume-container:hover .volume-high-progress{
  opacity: 1;
}
.music-volume-container {
  position: relative;
  left: 20px;
  float: left;
  overflow: hidden;
  line-height: 18px;
  font-size: 18px;
  width: 70px;
  .volume-high-progress{
    top: 0;
    right: 0;
    position: absolute;
    left: 20px;
    opacity:0;
    transition: opacity 0.3s linear;
    width: 49px;
    cursor: pointer;
    .ivu-progress-inner{
      background: #ddd;
      .ivu-progress-bg{
        background: rgb(170, 170, 170);
      }
    }
  }
}
.music-progress-icon {
  float: right;
  font-size: 18px;
  cursor: pointer;
}
.music-progress-icon i{
  margin-right: 3px;
}
.music-progress-icon i:nth-child(1){
  font-size: 17px;
}
.music-progress-icon i:nth-child(3){
  /*margin-right:10px;*/
}
.music-left_progress_init{
  top: -3px;
  cursor: pointer;
}
.music-left_progress_init .ivu-progress-inner {
  background-color: #dedede!important;
}
.music-left_progress_init .ivu-progress-inner .ivu-progress-bg{
  background-color:#22B14C;
}
.music-left_btn i {
  margin-right: 20px;
  cursor: pointer;
  font-size: 23px;
}
.music-left_btn i:nth-child(1) {
  font-size: 25px;
}
.music-left_btn i:nth-child(2) {
  margin-right: 180px;
}
.music-left_btn i:last-child {
  margin-right: 0;
  text-align: right;
}

.music-left_btn .icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-size:cover;
  background-position: center;
}
.icon.repeat-cycle {
  background-image: url(~@/assets/icon_repeat-cycle.gif);
}
.icon.repeat-once {
  background-image: url(~@/assets/icon_repeat-once.png);
}
.icon.repeat-random {
  background-image: url(~@/assets/icon_repeat-random.png);
}



















/*头部右侧*/
.music_index_header_right{
  padding: 0 !important;
}
.music_index_header_right_box{
  border-radius: 5px;
  background-color: hsla(0,0%,100%,.9);
  margin-left: 8px;
  height: 166px;
}
.music_index_header_right_box_input_{
  border-bottom:1px dashed #4A9EF6;
  height: 53px;
  padding-top: 10px;
}
.music_index_header_right_box_input_box{
  width: 285px;
  height: 32px;
  margin:auto;
}
.music_index_header_right_box_Carousel_{
  position: relative;
}
.music_index_header_right_box_Carousel_init{

}
.music_index_header_right_box_Carousel_init img{
  width: 71px;
  height: 71px;
  border-radius: 50%;
  display: block;
  margin: 5px auto;

}

.music_index_header_right_box_Carousel_init h2:nth-child(2){
  font-size: 12px;
  font-weight: 100;
  text-align: center;
  color: #000;
  width: 100%;
  display: block;
  line-height: 15px;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}
.music_index_header_right_box_Carousel_init h2:nth-child(3){
  font-size: 11px;
  color: #acacac;
  text-align: center;
  width: 100%;
  display: block;
  line-height: 15px;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}

/*
下部分列表*/
.music_index_list{
  border-radius: 5px;
  background-color: hsla(0,0%,100%,.9);
  height: 515px;
  margin:20px 0 0 0 !important;
}
.music_index_list img{
  width: 95px;
  height: 95px;
  border-radius: 50%;
  display: block;
  margin: 5px auto;
}
.music_index_list_init{
  margin-top: 10px;
  cursor: pointer;
}
.music_index_list_init h2:nth-child(2){
  font-size: 13px;
  font-weight: 100;
  text-align: center;
  color: #000;
  width: 100%;
  display: block;
  line-height: 20px;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}
.music_index_list_init h2:nth-child(3){
  font-size: 12px;
  color: #acacac;
  text-align: center;
  width: 100%;
  display: block;
  line-height: 15px;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}
.music_index_list_page{
  text-align: center;
  position: absolute;
  width: 100%;
  font-size: 12px;
  bottom: 15px;
}
.on_search_page{
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 10px;
  font-size: 12px;
}
.on_search_page_box{
  .ivu-select-dropdown{
    padding-bottom: 40px;
  }
}