#app{
  height: 100%;
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "PingFang SC","Hiragino Sans GB","Helvetica Neue",Helvetica,"Microsoft YaHei","微软雅黑",Arial,sans-serif;
}
.ivu-loading-bar{
 /* top: 63px;*/
}
/**
  主体结构
 */
.app_left{
  height: 800px;
  background-color: rgba(19,71,111,.8);
  width: 240px;
}

.app_header{
  background-color: rgba(19,71,111,.6);
  width: 1040px;
  padding: 0;
  -webkit-app-region: drag;
}
.app_content{
  width: 1040px;
  background: none;
}
.app_right{
  position: absolute;
  right: 0;
  background: #ffffff;
  border-left: 1px solid #eeeeee;
/*  background: -webkit-linear-gradient(left,#eff,#fff);
  background: -o-linear-gradient(right,#eff,#fff);
  background: linear-gradient(to right,#eff,#fff);*/
  height: 800px;
  .app_right_tables{
        .ivu-tabs-bar{
           border-bottom: 0;
           margin-bottom: 0;
        }
       .ivu-tabs-tab{
         width: 115px;
         margin-right: 0 !important;
         border: 0 !important;
         text-align: center;
         border-radius: 0 !important;
       }
    .ivu-tabs-tab-active{
      background: #3363A4 !important;
      color: #ffffff !important;
    }
       .app_right_tables_dow_init:hover{
           /* background: #DEF2FE;*/
         background: -webkit-linear-gradient(left,#DEF2FE,#fff);
         background: -o-linear-gradient(right,#DEF2FE,#fff);
         background: linear-gradient(to right,#DEF2FE,#fff);
       }
      .app_right_tables_dow_init{
        /*border-bottom:1px solid #ddd;*/
        cursor: pointer;
        padding: 5px 8px;
        overflow: hidden;
         .app_right_tables_dow_init_text{
           float: left;
           font-size: 11px;
           line-height: 18px;
           width: 78%;
         }
        .app_right_tables_dow_init_i{
          float: right;
          width: 47px;
          line-height: 20px;
          text-align: center;
          i{
            padding-top: 4px;
            padding-right: 5px;
            cursor: pointer;
          }
          :nth-child(1){
            padding-top: 0;
            margin-top: -5px;
          }
        }

      }
  }
}
/**
end
 */

/**
   头部四个按钮
 */
.app_left_top{
  height: 64px;
  padding: 0 20px;
  background: rgba(18,39,60,.5);
  -webkit-app-region: drag;
}
.app_left_top_init{
  line-height: 64px;
  text-align: center;
  color: #fff;
  font-size: 30px;
  -webkit-app-region: no-drag;
}
.app_left_top_init .ivu-avatar{
  background: none;
  border:1px solid #ffffff;
  font-size: 17px;
  margin-top: -6.5px;
  width: 32px;
  height: 32px;
  line-height: 32px;
  cursor: pointer;
}
.app_left_top_init .ivu-avatar i{
  margin-top: -8px;
}

/**
end
 */

/**
  头像部分
 */
.up_upload_avatar_obj{
  width: 100px;
  height: 150px;
  margin: auto;
  cursor: pointer;
}
  .app_avatar_box span{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: auto;
    display: block;
    margin-top: 50px;
  }
  .app_avatar_box_nickname{
    margin-top: 8px;
    line-height: 30px;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    padding-bottom: 18px;
    border-bottom: 1px solid #3E628D;
  }
/**
end
 */

/**
  菜单样式
 */
.app_menu_box{
  background: none;
  z-index: 1;
}
.app_menu_box .ivu-menu{
  color: #ffffff;
}
.app_menu_box.ivu-menu-vertical .ivu-menu-item{
  border-bottom:1px solid #3E628D;
}
.app_menu_box.ivu-menu-vertical .ivu-menu-submenu-title{
  border-bottom:1px solid #3E628D;
}
.app_menu_box.ivu-menu-vertical.ivu-menu-light:after{
  width: 0;
}
.app_menu_box.ivu-menu-vertical .ivu-menu-item-active:not(.ivu-menu-submenu) {
  color: #07A285;
  border-right: 2px solid #07A285;
  z-index: 2;
  background: rgba(0,0,0,0.2);
}
.app_menu_box.ivu-menu-vertical .ivu-menu-item:hover, .ivu-menu-vertical .ivu-menu-submenu-title:hover {
  background: none;
  color: #07A285;
}
/**
end
 */


/**
 头部右边开始
 */
.index_input{
  width: 250px;
  float: left;
  margin: 15px 0 0 15px;
  -webkit-app-region: no-drag;
}
.index_top_dow_icon{
  float: left;
  -webkit-app-region: no-drag;
  width: 81px;
  height: 100%;
  margin-left:104px;
  font-size: 25px;
  text-align: center;
  color: #ffffff;
}
.index_input input{
  background: rgba(18,39,60,.5);
  border: 0;
  color: #00a988;
  outline:none !important;
}
.index_input .ivu-input:focus,.index_input .ivu-input:hover{
  border: 0 !important;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.index_input .ivu-btn:focus,.index_input .ivu-btn:hover{
  -webkit-box-shadow:none;
  box-shadow:none;
}
.index_input .ivu-input-group-prepend{
  background: rgba(18,39,60,.5);
  border: 0;
  border-radius: 14px;
}
.index_input .ivu-input-group-append{
  background: rgba(18,39,60,.5);
  border: 0;
  color: #00a988;
  border-radius: 14px;
}
.index_input .ivu-input-group-append button{
  font-size: 15px;
}
.index_input .ivu-input-group-prepend .ivu-select-placeholder,.index_input .ivu-input-group-prepend .ivu-select-arrow,.index_input .ivu-input-group-prepend .ivu-select-selected-value{
  color: #00a988;
}
.index_header_right{
  float: right;
  height: 15px;
  margin-top: 23.5px;
  margin-right: 17px;
  width: 45px;
  overflow: hidden;
  color: #ffffff;
  line-height: 16px;
  text-align: center;
  font-size: 9px;
}
.index_header_right_close{
  background: #C81212;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  float: left;
  cursor: pointer;
  -webkit-app-region: no-drag;
}
.index_header_right_mini{
  background: #0eae81;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  float: left;
  margin-right: 15px;
  cursor: pointer;
  font-weight: 700;
  -webkit-app-region: no-drag;
}


.music-volume-container:hover .volume-high-progress{
  opacity: 1;
}


.music_mini{
  float: left;
  height: 64px;
  color: #ffffff;
  text-align: center;
  font-size: 20px;
  margin-left: 20px;
  -webkit-animation: fadeinL 0.5s ease-in forwards;
  -webkit-app-region: no-drag;
  margin-right: 180px;

  i{
    cursor: pointer;
  }
  .music_mini_p{
    float: left;
    line-height: 64px;
  }
  .music_mini_p_cover{
    float: left;
    margin-top: 7px;
    margin-left: 10px;
    background-size: cover;
    overflow: hidden;
    border-radius: 50%;
  }
  .music_mini_n{
    float: left;
    margin-left: 10px;
    line-height: 64px;
  }
  .music_mini_p_right{
    height: 64px;
    float: left;
    margin-left: 20px;
    width: 200px;
    text-align: left;
    .music_mini_p_right_title{
      line-height: 17px;
      margin-top: 10px;
      font-size: 14px;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: block;

    }
    .music_mini_p_right_icon{
      position: relative;
      .music-volume-container{
        position: absolute;
        top: 4px;
        left: 0;
        cursor: pointer;
      }
      line-height: 27px;
      i{
        font-size: 18px;
        margin-right: 5px;
      }
      i:nth-child(2){
        margin-left: 76px;
      }
      i:nth-child(3){
        margin-left: 76px;
      }
     .icon {
        display: inline-block;
        width: 18px;
        height: 18px;
        background-size:cover;
        background-position: center;
       margin-left: 3px;
      }
      .icon.repeat-cycle {
        background-image: url(~@/assets/icon_repeat-cycle.gif);
      }
      .icon.repeat-once {
        background-image: url(~@/assets/icon_repeat-once.png);
      }
      .icon.repeat-random {
        background-image: url(~@/assets/icon_repeat-random.png);
      }
    }
    .music_mini_p_right_progress{
      line-height: 3px;
      .music_mini-high-progress{
        cursor: pointer;
      }
      .ivu-progress-bg{
        background: #0eae81;
      }
    }
  }
}


/**主题动画*/
.fade-enter-active, .fade-leave-active {transition: opacity .2s;}
.fade-enter, .fade-leave-to{opacity: 0;}
/**往下掉动画*/
.bounceInDown-enter-active, .bounceInDown-leave-active {-webkit-animation: bounceinT 1s ease-in forwards;}
.bounceInDown-enter, .bounceInDown-leave-to{opacity: 0;}
@keyframes bounceInDown{
  0%{opacity:0;-webkit-transform:translate3d(0,-3000px,0);transform:translate3d(0,-3000px,0)}
  60%{opacity:1;-webkit-transform:translate3d(0,25px,0);transform:translate3d(0,25px,0)}
  75%{-webkit-transform:translate3d(0,-10px,0);transform:translate3d(0,-10px,0)}
  90%{-webkit-transform:translate3d(0,5px,0);transform:translate3d(0,5px,0)}
  100%{-webkit-transform:none;transform:none}
}
/* 弹入-从左 */
@-webkit-keyframes bounceinL{
  0%{opacity:0;-webkit-transform:translateX(-100px);}
  60%{opacity:1;-webkit-transform:translateX(30px);}
  80%{-webkit-transform:translateX(-10px);}
  100%{-webkit-transform:translateX(0);}
}
@-moz-keyframes bounceinL{
  0%{opacity:0;-moz-transform:translateX(-100px);}
  60%{opacity:1;-moz-transform:translateX(30px);}
  80%{-moz-transform:translateX(-10px);}
  100%{-moz-transform:translateX(0);}
}
@-ms-keyframes bounceinL{
  0%{opacity:0;-ms-transform:translateX(-100px);}
  60%{opacity:1;-ms-transform:translateX(30px);}
  80%{-ms-transform:translateX(-10px);}
  100%{-ms-transform:translateX(0);}
}
@keyframes bounceinL{
  0%{opacity:0;transform:translateX(-100px);}
  60%{opacity:1;transform:translateX(30px);}
  80%{transform:translateX(-10px);}
  100%{transform:translateX(0);}
}
/* 弹入-从上 */
@-webkit-keyframes bounceinT{
  0%{opacity:0;-webkit-transform:translateY(-100px);}
  60%{opacity:1;-webkit-transform:translateY(30px);}
  80%{-webkit-transform:translateY(-10px);}
  100%{-webkit-transform:translateY(0);}
}
@-moz-keyframes bounceinT{
  0%{opacity:0;-moz-transform:translateY(-100px);}
  60%{opacity:1;-moz-transform:translateY(30px);}
  80%{-moz-transform:translateY(-10px);}
  100%{-moz-transform:translateY(0);}
}
@-ms-keyframes bounceinT{
  0%{opacity:0;-ms-transform:translateY(-100px);}
  60%{opacity:1;-ms-transform:translateY(30px);}
  80%{-ms-transform:translateY(-10px);}
  100%{-ms-transform:translateY(0);}
}
@keyframes bounceinT{
  0%{opacity:0;transform:translateY(-100px);}
  60%{opacity:1;transform:translateY(30px);}
  80%{transform:translateY(-10px);}
  100%{transform:translateY(0);}
}
/* 淡出-向左 */
@-webkit-keyframes fadeinL{
  0%{opacity:0;-webkit-transform:translateX(-100px);}
  100%{opacity:1;-webkit-transform:translateX(0);}
}
@-moz-keyframes fadeinL{
  0%{opacity:0;-moz-transform:translateX(-100px);}
  100%{opacity:1;-moz-transform:translateX(0);}
}
@-ms-keyframes fadeinL{
  0%{opacity:0;-ms-transform:translateX(-100px);}
  100%{opacity:1;-ms-transform:translateX(0);}
}
@keyframes fadeinL{
  0%{opacity:0;transform:translateX(-100px);}
  100%{opacity:1;transform:translateX(0);}
}
/**从右到左*/
.slide-fade-enter-active {transition: all .2s ease;}
.slide-fade-leave-active {transition: all .2s ease;}
.slide-fade-enter, .slide-fade-leave-to{transform: translateX(230px);opacity: 1;}



