.images_index{
  background: #fff;
  border-radius: 5px;
  margin: 15px;
  padding: 12px;
  padding-top: 5px;
  height: 705px;
}
.images_index_header{
  margin-top: 50px;
}
.images_index_header h3{
  text-align: center;
  font-size: 35px;
  font-weight: 100;
}
.images_index_header p {
  color: #878787;
  font-size: 12px;
  text-align: center;
  text-indent: 10vw;
  line-height: 30px;
}

.images_index_list_page{
  padding:15px;
  padding-top: 28px;
  text-align: center;
  position: absolute;
  width: 100%;
  font-size: 12px;
}

.pic-details-image-wrapper{
/*  border:1px solid red;*/
  position: relative;
  width: 94%;
  margin: auto;
  margin-top: 30px;
}
.pic-details-image-wrapper_init{
  height: 231.2px;
  position: relative;
  cursor: pointer;
}
.pic-details-image-wrapper_init_avt{
  display: block;
  z-index: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100px;
  height: 100px;
  margin: -50px 0 0 -50px;
  -webkit-border-image: initial;
  -o-border-image: initial;
  border-image: initial;
  overflow: hidden;
}
.pic-details-image-wrapper_init_avt img {
  width: 100%;
  border-radius: 50%;
  border: 2px solid #fff;
  height: 100%;
}
.pic-details-image-wrapper_init_bg {
  display: block;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: 50%;
  opacity: .25;
}
.pic-details-image-wrapper_init_recommend-infobox {
  position: relative;
  height: 50%;
  width: 100%;
  background: #fafafa;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}
.text_left {
  text-align: left;
  padding: 2px 8px 0 16px;
}
.text_right {
  text-align: right;
  padding: 2px 16px 0 8px;
}
.pic-details-image-wrapper_init_recommend-data {
  font-size: 25px;
  color: #aaa;
  font-weight: 400;
  line-height: 40px;
}
.pic-details-image-wrapper_init_recommend-infobox h2 {
  color: rgba(0,0,0,.85);
  font-weight: 100;
  font-size: 15px;
  padding-bottom: 5px;
}
.pic-details-image-wrapper_init_recommend-infobox p{
  font-size: 11px;
  line-height: 16px;
}
.info-tra-left, .info-tra-right {
  z-index: 1;
  position: absolute;
  width: 14px;
  height: 28px;
}
.info-tra-left {
  top: 21%;
  left: -14px;
  background: url(~@/assets/info_tra.svg) no-repeat;
  background-position: 0 0;
}
.info-tra-right {
  top: 74%;
  right: -14px;
  background: url(~@/assets/info_tra.svg) no-repeat;
  background-position: 0 -51px;
}
.rotateXz90{
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.rotateXz180{
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
  width: 100%;
  height: 100%;
  display: block;
}


.images_up_center_modal{
  display: flex;
  align-items: center;
  justify-content: center;
   .ivu-modal-footer{
     display: none;
   }
  .ivu-modal-body{
    padding: 0;
  }
  .ivu-modal{
    width: 490px !important;
    top: 0;
  }

  .images_up_center_modal_body_left{
     height: 180px;
    .images_up_center_modal_body_left_btn{
      background: -webkit-linear-gradient(#49e6fd,#4fabf7);
      background: -o-linear-gradient(#49e6fd,#4fabf7);
      background: -webkit-gradient(linear,left top,left bottom,from(#49e6fd),to(#4fabf7));
      background: linear-gradient(#49e6fd,#4fabf7);
      background-position: center;
      background-size: cover;
      color: #ffffff;
      height:180px;
      i{
        font-size: 80px;
        padding-top: 30px;
      }
      p{
        font-size: 20px;
        line-height: 30px;
        text-align: center;
      }
    }
  }
  .images_up_center_modal_body_right {
    padding-left: 15px;
    textarea{
      border-radius: 4px;
      height: 55px;
      background: hsla(0,0%,100%,0);
      outline: none;
      resize: none;
      margin-top:8px;
      width: 95%;
    }
    input {
      margin-top: 5px;
      margin-bottom: 5px;
      width: 95%;
    }
    .ivu-select{
      width: 95%;
      margin-bottom: 6px;
    }
    .images-mag-select_title {
      line-height: 26px;
      text-align: left;
      color: #888;
    }


  }
}